<div class="home">

<!-- logo -->
<div class="logo-btn">
    <button type="button" class="btn btn-color">LOGO1</button>
</div>

<div class="divider">
    <hr />
</div>

<!-- options list -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="home-mob" href="#">HOME <span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="options-inside">
            <li class="nav-item active">
                <a class="nav-link home-web" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    ABOUT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    PRODUCT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    ACCESSORIES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    CONTACT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">ECART <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <span>
                    <i class="fa fa-search"></i>
                </span>
                <span>SEARCH</span>
            </li>
        </ul>
    </div>
</nav>

<!-- carousel  -->

<div id="carouselExampleControls" class="carousel slide bg-color" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-each-item">
                    <div>
                        <img class="d-block image-carousel" src="assets/images/product_single_1.png" alt="First slide">
                    </div>
                    <div class="product-desc">
                        <h4 class="product-text">POWER WASH</h4>
                        <h4 class="product-text">VACUUM </h4>
                        <h4 class="product-text">CLEANERS</h4>

                        <h6 class="product-text-sub">BEST SERIES AT BEST PRICE</h6>
                        <button type="button" class="btn btn-shop">SHOP NOW</button>
                    </div>
                    <div>
                        <img class="d-block image-carousel" src="assets/images/product_single_2.png" alt="Second slide">
                    </div>
                </div>
            </div>

            <div class="carousel-item ">
                <div class="carousel-each-item">
                    <div>
                        <img class="d-block image-carousel" src="assets/images/product_single_1.png" alt="First slide">
                    </div>
                    <div class="product-desc">
                        <h4 class="product-text">POWER WASH</h4>
                        <h4 class="product-text">VACUUM </h4>
                        <h4 class="product-text">CLEANERS</h4>

                        <h6 class="product-text-sub">BEST SERIES AT BEST PRICE</h6>
                        <button type="button" class="btn btn-shop">SHOP NOW</button>
                    </div>
                    <div>
                        <img class="d-block image-carousel" src="assets/images/product_single_2.png" alt="Second slide">
                    </div>
                </div>
            </div>

            <div class="carousel-item ">
                <div class="carousel-each-item">
                    <div>
                        <img class="d-block image-carousel" src="assets/images/product_single_1.png" alt="First slide">
                    </div>
                    <div class="product-desc">
                        <h4 class="product-text">POWER WASH</h4>
                        <h4 class="product-text">VACUUM </h4>
                        <h4 class="product-text">CLEANERS</h4>

                        <h6 class="product-text-sub">BEST SERIES AT BEST PRICE</h6>
                        <button type="button" class="btn btn-shop">SHOP NOW</button>
                    </div>
                    <div>
                        <img class="d-block image-carousel" src="assets/images/product_single_2.png" alt="Second slide">
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- our products -->

<section class="our-products">
    <p class="prodt-head">OUR PRODUCTS</p>
    <div class="image-block">
        <div class="block-one">
            <div class="img-pad">
                <span class="layer-1">
                    <p class="pro-name">VACUUM CLEANER</p>
                    <p class="pro-desc">Lorem ipsum dollar</p>
                </span>
                <span class=" layer-2"><img class="block-img" src="assets/images/block_pro_1.jpg"></span>
            </div>
            <div class="img-pad">
                <span class="layer-1">
                    <p class="pro-name">PRESSURE WASHER</p>
                    <p class="pro-desc">Lorem ipsum dollar</p>
                </span>
                <span class=""><img class="block-img" src="assets/images/block_pro_2.jpg"></span>
            </div>
        </div>
        <div class="block-two img-pad">
            <span class="layer-1">
                <p class="pro-name">ACCESSORIES</p>
                <p class="pro-desc">Lorem ipsum dollar</p>
            </span>
            <span class=""><img class="block-img-next" src="assets/images/block_pro_3.jpg"></span>
        </div>
    </div>
</section>

<!-- our products-mob -->
<section class="our-products-mob">
    <p class="prodt-head">OUR PRODUCTS</p>
    <div class="pro-img">
        <div>
        <span class="layer-1">
            <p class="pro-name">VACUUM CLEANER</p>
            <p class="pro-desc">Lorem ipsum dollar</p>
        </span>
        <span class=" layer-2"><img class="block-img" src="assets/images/block_pro_1.jpg"></span>
       </div>
       <div>
        <span class="layer-1">
            <p class="pro-name">PRESSURE WASHER</p>
            <p class="pro-desc">Lorem ipsum dollar</p>
        </span>
        <span class=""><img class="block-img" src="assets/images/block_pro_2.jpg"></span>
       </div>
       <div>
        <span class="layer-1">
            <p class="pro-name">ACCESSORIES</p>
            <p class="pro-desc">Lorem ipsum dollar</p>
        </span>
        <span class=""><img class="block-img" src="assets/images/block_pro_3.jpg"></span>
       </div>
    </div>
</section>

<!-- circle best section -->

<section class="circle-section">
    <div>
        <p class="prodt-head">WHY WE'RE THE BEST</p>
    </div>
    <div class="circle-img-section">
    <div class="circle-item">
        <img class="circle-img" src="assets/images/quality_1.jpg">
        <span class="circle-content">
            <p class="circle-head"><b>DEDICATED HELP DESK</b></p>
            <p class="circle-desc">Lorem ipsum dollar test content </p>
        </span>
    </div>
    <div class="circle-item">
        <img class="circle-img" src="assets/images/quality_2.jpg">
        <span class="circle-content">
            <p class="circle-head"><b>INTERNATIONAL DELIVERY</b></p>
            <p class="circle-desc">Lorem ipsum dollar test content </p>
        </span>
    </div>
    <div class="circle-item">
        <img class="circle-img" src="assets/images/quality_3.jpg">
        <span class="circle-content">
            <p class="circle-head"><b>SECURE PAYMENT</b></p>
            <p class="circle-desc">Lorem ipsum dollar test content </p>
        </span>
    </div>
    <div class="circle-item">
        <img class="circle-img" src="assets/images/quality_4.jpg">
        <span class="circle-content">
            <p class="circle-head"><b>VALUE FOR MONEY</b></p>
            <p class="circle-desc">Lorem ipsum dollar test content </p>
        </span>
    </div>
    </div>
</section>

<!-- upcoming product -->
<section class="upcoming-section">
    <h6>UPCOMING PRODUCT</h6>
    <span class="icon-pad"><i class="fa fa-play-circle-o fa-2x"></i></span>
</section>

<!-- product map -->
<section class="product-map">
    <div>
        <p class="prodt-head">OUR PRODUCT REACH</p>
    </div>
    <div>
        <img class="product-img" src="assets/images/product_reach_map.jpg">
    </div>
</section>

<!-- counter section -->
<section>
    <div class="counter">
        <div class="container">
            <div class="row counter-section">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 count-ht">
                    <div class="employees">
                        <p class="counter-count"></p>
                        <p class="employee-p">PRODUCT  COUNT</p>
                    </div>
                </div>
    
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 count-ht">
                    <div class="customer">
                        <p class="counter-count"></p>
                        <p class="customer-p">ACTIVE CLIENTS</p>
                    </div>
                </div>
    
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 count-ht">
                    <div class="design">
                        <p class="counter-count"></p>
                        <p class="design-p">TOTAL DELIVERIES</p>
                    </div>
                </div>
    
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 count-ht">
                    <div class="order">
                        <p class="counter-count"></p>
                        <p class="order-p">SHIPPING COUNTRIES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->



</div>

